
{% extends 'layout.html' %}

{% block pageTitle %}
  General user research tips - Make NHS services inclusive
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/index",
        text: "Home"
      },
      {
        href: "/things-to-do/conduct-inclusive-research",
        text: "Conduct inclusive research"
      },
      {
        href: "/things-to-do/conduct-inclusive-research/how-to-conduct-inclusive-research",
        text: "How to conduct inclusive research"
      }
      ]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-u-margin-bottom-4">
        General user research tips
      </h1>
      <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">
        Contributors
      </h2>
      <ul class="app-contributors nhsuk-u-margin-bottom-6">
        <li><a id="amy-james" href="https://github.com/amyj2110"><img src="https://avatars.githubusercontent.com/u/60343363?v=4" /></a></li>
        <li><a id="michelle-parfitt" href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U01C7QTAF4L-d64867ca1349-512" /></a></li>
        <li><a id="samantha-saw" href="https://github.com/samanthasaw"><img src="https://avatars.githubusercontent.com/u/38656667?v=4" /></a></li>
        <li><a id="sara-wilcox" href="https://github.com/sarawilcox"><img src="https://avatars.githubusercontent.com/u/45792959?v=4" /></a></li>
        <li><a id="chloe-philippou" href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U46BM50BW-6b9f306ef5c9-512" /></a></li>
       <li><a id="rhiannon-smith" href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U99S6SQ4V-16dd6340c1b3-192" /></a></li>
       <li><a id="richard-kelly" href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U8Q4A83LG-fbca3f9455dd-512" /></a></li>
    </ul>

      <hr>
      <h2>Test with a broad range of users</h2>
      <p>Make sure the way you recruit participants is as inclusive as possible. Test with people with diverse backgrounds, abilities and experiences.</p>
      <p>Be aware of users' challenges and assistive technology they may be using.</p>
      <div class="app-example app-example--content">
        <strong class="nhsuk-tag app-example__heading">Example</strong>
        <p class="nhsuk-u-margin-bottom-0">We tested the NHS website's chickenpox page with people who have a range of skin tones. We also tested it with people with different access needs including users with sight loss, dyslexia, cerebral palsy and a neurological disorder.</p>
      </div>

      <hr>
      <h2>Before the research session</h2>
      <p>Send information and consent forms ahead of the session, so participants have time to review them, process information and clarify any concerns.</p>
      <p>Alternatively, read through the consent form at the start of the session and get their verbal consent. (Do not forget to record this.)</p>

      <hr>
      <h2>Consider going to a more convenient place</h2>
      <p>Sometimes it's better to go somewhere that's more convenient for the person you're researching with, such as their home, or place of work or learning.</p>
      <p>This way they may be able to use their own equipment and software and you can get a better idea of how they would use things in daily life.</p>

      <hr>
      <h2>Give people more time</h2>
      <p>Build extra time into the research session:</p>
      <ul>
        <li>for any technical setup</li>
        <li>so you can build rapport</li>
        <li>so you can make sure you understand the participant's experience</li>
      </ul>

      <hr>
      <h2>Be specific</h2>
      <p>If you're using a recruiter, be as specific as possible about the types of participants you want. Make sure you're happy with the screener they're going to use.</p>
      <p>Common pitfalls include confusing:</p>
      <ul>
        <li>a learning difficulty and a learning disability - find out <a href="https://www.mencap.org.uk/learning-disability-explained/what-learning-disability">what a learning disability is</a> on Mencaps's website</li>
        <li>speech-to-text (for example, Dragon Naturally Speaking) and text-to-speech software (for example, Claro Read)</li>
      </ul>


    </div>
  </div>
{% endblock %}
