
{% extends 'layout.html' %}

{% block pageTitle %}
  Conduct inclusive research - Make NHS services inclusive
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/index",
        text: "Home"
      },
      {
        href: "/things-to-do/conduct-inclusive-research",
        text: "Conduct inclusive user research"
      },
      {
        href: "/things-to-do/conduct-inclusive-research/how-to-conduct-inclusive-research",
        text: "How to conduct inclusive user research"
      }
      ]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-u-margin-bottom-4">
        General tips
      </h1>
      <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">
        Contributors
      </h2>
      <ul class="app-contributors nhsuk-u-margin-bottom-6">
        <li><a id="amy-james" href="https://github.com/amyj2110"><img src="https://avatars.githubusercontent.com/u/60343363?v=4" /></a></li>
        <li><a id="michelle-parfitt" href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U01C7QTAF4L-d64867ca1349-512" /></a></li>
        <li><a id="samantha-saw" href="https://github.com/samanthasaw"><img src="https://avatars.githubusercontent.com/u/38656667?v=4" /></a></li>
        <li><a id="sara-wilcox" href="https://github.com/sarawilcox"><img src="https://avatars.githubusercontent.com/u/45792959?v=4" /></a></li>
        <li><a id="chloe-philippou" href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U46BM50BW-6b9f306ef5c9-512" /></a></li>
       <li><a id="rhiannon-smith" href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U99S6SQ4V-16dd6340c1b3-192" /></a></li>
       <li><a id="richard-kelly" href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U8Q4A83LG-fbca3f9455dd-512" /></a></li>
    </ul>

      <hr>
      <h2>Test your content with a broad range of users who have diverse backgrounds and abilities</h2>
      <p>Be aware of users' challenges and assistive technology they may be using. Make sure the way you recruit participants is as inclusive as possible. Test with a diverse pool of people from all backgrounds and lived experiences.</p>
      <div class="app-example app-example--content">
        <strong class="nhsuk-tag app-example__heading">Example</strong>
        <p class="nhsuk-u-margin-bottom-0">We tested the NHS website’s chickenpox page with people who have a range of skin tones. We also tested it with people with different access needs including users with a visual impairment, dyslexia, cerebral palsy and a neurological disorder.</p>
      </div>

      <hr>
      <h2>[Ahead of the session]</h2>
      <p>Send information and consent forms ahead of the session, so participants have time to review, process information and clarify any concerns/uncertainties. Alternatively, read through the consent form at the start of the session and get their verbal consent (don’t forget to record this).</p>

      <hr>
      <h2>[Another place]</h2>
      <p>Sometimes it may be more beneficial to go to a place that’s more convenient for the person you’re researching with, such as their home, or place of work or learning. This way they can be more able to use their own equipment and software and you can get a much better idea of how they would use things in daily life.</p>

      <hr>
      <h2>[Extra time]</h2>
      <p>Build extra time into the research session to allow for any technical setup, and the extra time it will take for you to build rapport and make sure you understand the participant’s experience.</p>

      <hr>
      <h2>[Be specific]</h2>
      <p>If using a recruiter, be as specific as possible about the types of participants you want and make sure you’re happy with the screener they’re going to use. Some common pitfalls:</p>
      <ul>
        <li>A learning difficulty is not the same as a learning disability. Read more here: https://www.mencap.org.uk/learning-disability-explained/what-learning-disability </li>
        <li>Speech-to-text (e.g. Dragon Naturally Speaking) is very different to text-to-speech (e.g. Claro Read) software</li>
      </ul>


    </div>
  </div>
{% endblock %}
