
{% extends 'layout.html' %}

{% block pageTitle %}
  How to conduct inclusive research - Make NHS services inclusive
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/index",
        text: "Home"
      }
      ],
        href: "/things-to-do/conduct-inclusive-research",
        text: "Conduct inclusive research"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-u-margin-bottom-4">
        How to conduct inclusive research
      </h1>

      <!---<h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">
        Contributors
      </h2>
      <ul class="app-contributors nhsuk-u-margin-bottom-6">
        <li><a id="amy-james" href="#"><img src="/images/amy-james.png" alt="amy james"></a></li>
        <li><a id="michelle-parfitt" href="#"><img src="/images/michelle-parfitt.jpg" alt="michelle parfitt"></a></li>
        <li><a id="samantha-saw" href="#"><img src="/images/samantha-saw.jpg" alt="samantha saw"></a></li>
        <li><a id="sara-wilcox" href="#"><img src="/images/sara-wilcox.jpg" alt="sara wilcox"></a></li>
        <li><a id="chloe-philippou" href="#"><img src="/images/chloe-philippou.jpg" alt="chloe philippou"></a></li>
       <li><a id="rhiannon-smith" href="#"><img src="/images/rhiannon-smith.png" alt="rhiannon smith"></a></li>
       <li><a id="richard-kelly" href="#"><img src="/images/richard-kelly.png" alt="richard kelly"></a></li>
       <li><a id="ellen-doyle" href="#"><img src="/images/ellen-doyle.jpg" alt="ellen doyle"></a></li>
      </ul>--->
      <hr>
      </div>
  </div>

  <div class="nhsuk-grid-row">

  <ul class="nhsuk-grid-row nhsuk-card-group">

    <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-u-font-size-24">
        <a class="nhsuk-card__link" href="how-to-conduct-inclusive-research/general-user-research-tips">General user research tips</a>
        </h2>
        </div>
        </div>
      </li>

      <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-u-font-size-24">
        <a class="nhsuk-card__link" href="how-to-conduct-inclusive-research/research-about-mental-health">Research about mental health</a>
        </h2>
          </div>
          </div>
        </li>

        <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-u-font-size-24">
          <a class="nhsuk-card__link" href="how-to-conduct-inclusive-research/research-with-trans-people">Research with trans people</a>
          </h2>
            </div>
            </div>
          </li>

          <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-u-font-size-24">
            <a class="nhsuk-card__link" href="how-to-conduct-inclusive-research/research-with-neurodiverse-people">Research with neurodiverse people</a>
            </h2>
              </div>
              </div>
            </li>

            <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
              <div class="nhsuk-card nhsuk-card--clickable">
                <div class="nhsuk-card__content">
                  <h2 class="nhsuk-card__heading nhsuk-u-font-size-24">
              <a class="nhsuk-card__link" href="how-to-conduct-inclusive-research/research-with-deaf-people-or-people-with-hearing-loss">Research with Deaf people or people with hearing loss</a>
              </h2>
                </div>
                </div>
              </li>

              <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-u-font-size-24">
                <a class="nhsuk-card__link" href="how-to-conduct-inclusive-research/research-with-people-with-physical-or-motor-disabilities">Research with people with physical or motor disabilities</a>
                </h2>
                  </div>
                  </div>
                </li>

                <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
                  <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                      <h2 class="nhsuk-card__heading nhsuk-u-font-size-24">
                  <a class="nhsuk-card__link" href="how-to-conduct-inclusive-research/research-with-people-with-sight-loss">Research with people with sight loss</a>
                  </h2>
                    </div>
                    </div>
                  </li>
        </ul>
  </div>
{% endblock %}
