
{% extends 'layout.html' %}

{% block pageTitle %}
  Research with people with physical or motor disabilities - Make NHS services inclusive
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/index",
        text: "Home"
      },
      {
        href: "/things-to-do/conduct-inclusive-research",
        text: "Conduct inclusive research"
      },
      {
        href: "/things-to-do/conduct-inclusive-research/how-to-conduct-inclusive-research",
        text: "How to conduct inclusive research"
      }
      ]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-u-margin-bottom-4">
        Research with people with physical or motor disabilities
      </h1>

      <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">
        Contributors
      </h2>
      <ul class="app-contributors nhsuk-u-margin-bottom-6">
        <li><a id="amy-james" href="#"><img src="/images/amy-james.png" alt="amy james"></a></li>
        <li><a id="michelle-parfitt" href="#"><img src="/images/michelle-parfitt.jpg" alt="michelle parfitt"></a></li>
        <li><a id="samantha-saw" href="#"><img src="/images/samantha-saw.jpg" alt="samantha saw"></a></li>
        <li><a id="sara-wilcox" href="#"><img src="/images/sara-wilcox.jpg" alt="sara wilcox"></a></li>
        <li><a id="chloe-philippou" href="#"><img src="/images/chloe-philippou.jpg" alt="chloe philippou"></a></li>
       <li><a id="rhiannon-smith" href="#"><img src="/images/rhiannon-smith.png" alt="rhiannon smith"></a></li>
       <li><a id="richard-kelly" href="#"><img src="/images/richard-kelly.png" alt="richard kelly"></a></li>
    </ul>

      <hr>
      <h2>Adapt co-creation activities</h2>
      <p>Activities might involve hands on activities, such as cutting out pictures or text and creating collages, or making drawings. These tasks may involve fine motor skills which are difficult to complete for users with motor impairments. It’s therefore important to ensure that there are alternative activities which are also accessible to those who do not have fine motor controls.</p>

      <hr>
      <h2>Have clear tasks and indicators of success</h2>
      <p>For participants with a severe mobility impairment, for example, someone who uses an eye tracker to interact and communicate with others, it may be preferable to rely more heavily on observational data. It’s therefore important to have clear tasks with clear indicators of success at the end of tasks, so that you can easily evaluate whether the tasks were completed successfully, based on observations alone.</p>

      <hr>
      <h2>Ask closed questions and design your research to be more observation based</h2>
      <p>Usually, as user researchers, we like to ask lots of open questions. For participants who are non-verbal and rely on a communication device it can make the research more comfortable for the participant if you do not rely on them giving you lengthy answers but instead rely more on observational data and ask more closed questions. This is not to say that you shouldn’t ask any open questions, but that you may have to adjust the balance of the two.</p>
    </div>
  </div>
{% endblock %}
