
{% extends 'layout.html' %}

{% block pageTitle %}
  Research with trans people - Make NHS services inclusive
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/index",
        text: "Home"
      },
      {
        href: "/things-to-do/conduct-inclusive-research",
        text: "Conduct inclusive research"
      },
      {
        href: "/things-to-do/conduct-inclusive-research/how-to-conduct-inclusive-research",
        text: "How to conduct inclusive research"
      }
      ]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-u-margin-bottom-4">
        Research with trans people
      </h1>

      <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">
        Contributors
      </h2>
      <ul class="app-contributors nhsuk-u-margin-bottom-6">
        <li><a id="amy-james" href="#"><img src="/images/amy-james.png" alt="amy james"></a></li>
        <li><a id="michelle-parfitt" href="#"><img src="/images/michelle-parfitt.jpg" alt="michelle parfitt"></a></li>
        <li><a id="samantha-saw" href="#"><img src="/images/samantha-saw.jpg" alt="samantha saw"></a></li>
        <li><a id="sara-wilcox" href="#"><img src="/images/sara-wilcox.jpg" alt="sara wilcox"></a></li>
        <li><a id="chloe-philippou" href="#"><img src="/images/chloe-philippou.jpg" alt="chloe philippou"></a></li>
       <li><a id="rhiannon-smith" href="#"><img src="/images/rhiannon-smith.png" alt="rhiannon smith"></a></li>
       <li><a id="richard-kelly" href="#"><img src="/images/richard-kelly.png" alt="richard kelly"></a></li>
    </ul>

      <hr>
      <h2>When you introduce yourself, tell the person your pronouns</h2>
      <p>This normalises asking for pronouns, and allows everyone to say how they would like to be addressed.</p>
      <p>Never assume someone's pronouns.</p>

      <div class="app-example app-example--content">
        <strong class="nhsuk-tag app-example__heading">Example</strong>
        <p class="nhsuk-u-margin-bottom-0">Hi my name is Jude and my pronouns are She/Her</p>
      </div>

      <hr>
      <h2>If you are showing non-inclusive content, give people trigger warnings at the start of the research</h2>
      <p>At the beginning of the interview explain that there may be content that they come across that may be triggering, and why it might be triggering.</p>
      <p>This is important because:</p>
      <ul>
        <li>people may need to mentally prepare themselves</li>
        <li>people may not feel able to deal with the content during the session and may have to stop, in which case it's important that you support them to do this</li>
      </ul>
      <p>To avoid priming the participant you should try to not use the word trigger.</p>

      <div class="app-example app-example--content">
        <strong class="nhsuk-tag app-example__heading">Example</strong>
        <p class="nhsuk-u-margin-bottom-0">"We're going to show you a pages on breastfeeding. Some of these pages are old, and we know that both gender and pregnancy can be difficult subjects to talk about. If at any point you need to leave or stop, please do so."</p>
    </div>

    </div>
  </div>
{% endblock %}
