
{% extends 'layout.html' %}

{% block pageTitle %}
  Research about mental health - Make NHS services inclusive
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/index",
        text: "Home"
      },
      {
        href: "/things-to-do/conduct-inclusive-research",
        text: "Conduct inclusive research"
      },
      {
        href: "/things-to-do/conduct-inclusive-research/how-to-conduct-inclusive-research",
        text: "How to conduct inclusive research"
      }
      ]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-u-margin-bottom-4">
        Research about mental health
      </h1>

      <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">
        Contributors
      </h2>
      <ul class="app-contributors nhsuk-u-margin-bottom-6">
        <li><a id="amy-james" href="#"><img src="/images/amy-james.png" alt="amy james"></a></li>
        <li><a id="michelle-parfitt" href="#"><img src="/images/michelle-parfitt.jpg" alt="michelle parfitt"></a></li>
        <li><a id="samantha-saw" href="#"><img src="/images/samantha-saw.jpg" alt="samantha saw"></a></li>
        <li><a id="sara-wilcox" href="#"><img src="/images/sara-wilcox.jpg" alt="sara wilcox"></a></li>
        <li><a id="chloe-philippou" href="#"><img src="/images/chloe-philippou.jpg" alt="chloe philippou"></a></li>
       <li><a id="rhiannon-smith" href="#"><img src="/images/rhiannon-smith.png" alt="rhiannon smith"></a></li>
       <li><a id="richard-kelly" href="#"><img src="/images/richard-kelly.png" alt="richard kelly"></a></li>
    </ul>

      <hr>
      <h2>Allow people to choose who they want to attend the session</h2>
      <p>Talking about mental health can feel embarrassing and stigmatising for some people.</p>
      <p>Ask them if they feel comfortable with people observing their session. Allow them to opt to have no observers.</p>
      <p>Other people may want to bring someone they know and feel comfortable with to the session. </p>

      <hr>
      <h2>Prepare for emotionally difficult sessions</h2>
      <p><b>[Trigger warning – suicide and self-harm]</b></p>
      <p>Listening to people talk about mental health can be emotionally hard and stressful. People may talk in detail about things like suicide attempts or graphic self-harm.</p>
      <p>Be careful not to make the participant feel ashamed or embarrassed. Do not talk to them like you feel sorry for them.</p>
      <p>If you are doing the research remotely, things like a "tech check" the day before the session can be useful. This enables you to meet the participant, introduce yourself and allow them to ask any questions they may have beforehand. It can make things a little less daunting on the day.</p>
      <hr>
      <h2>Safeguard participants and staff</h2>
      <h3>Participants</h3>
        <p>Check in with the participant both before and after the research session. Use a safeguarding checklist, which should cover things like:</p>
        <ul>
          <li>the participant's mood that day</li>
          <li>whether they feel able to talk to you</li>
          <li>whether they have a trusted person they can talk to during or after the session</li>
        </ul>

      <h3>Researchers</h3>
        <p>It's important that you feel emotionally ready and stable before the session. If you do not feel able to listen to these stories on the day, either reschedule the session or ask another researcher on the project to take over.</p>
    </div>
  </div>
{% endblock %}
