
{% extends 'layout.html' %}

{% block pageTitle %}
  Research with Deaf people or people with hearing loss - Make NHS services inclusive
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/index",
        text: "Home"
      },
      {
        href: "/things-to-do/conduct-inclusive-research",
        text: "Conduct inclusive research"
      }
      ],
        href: "/things-to-do/conduct-inclusive-research/how-to-conduct-inclusive-research",
        text: "How to conduct inclusive research"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-u-margin-bottom-4">
        Research with Deaf people or people with hearing loss
      </h1>

      <!---<h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">
        Contributors
      </h2>
      <ul class="app-contributors nhsuk-u-margin-bottom-6">
        <li><a id="amy-james" href="#"><img src="/images/amy-james.png" alt="amy james"></a></li>
        <li><a id="michelle-parfitt" href="#"><img src="/images/michelle-parfitt.jpg" alt="michelle parfitt"></a></li>
        <li><a id="samantha-saw" href="#"><img src="/images/samantha-saw.jpg" alt="samantha saw"></a></li>
        <li><a id="sara-wilcox" href="#"><img src="/images/sara-wilcox.jpg" alt="sara wilcox"></a></li>
        <li><a id="chloe-philippou" href="#"><img src="/images/chloe-philippou.jpg" alt="chloe philippou"></a></li>
       <li><a id="rhiannon-smith" href="#"><img src="/images/rhiannon-smith.png" alt="rhiannon smith"></a></li>
       <li><a id="richard-kelly" href="#"><img src="/images/richard-kelly.png" alt="richard kelly"></a></li>
    </ul>--->

      <hr>
      <h2>Ask about and meet people's communication needs</h2>
      <p>Before the research session you should find out the participants communication preference, for example, if the participant:</p>
      <ul>
        <li>lipreads</li>
        <li>would like a British Sign Language (BSL) interpreter</li>
        <li>has a preference for a particular technology, such as a chat function</li>
        <li>none of these</li>
      </ul>
      <div class="app-example app-example--content">
        <strong class="nhsuk-tag app-example__heading">Example</strong>
        <p class="nhsuk-u-margin-bottom-0">Thank you for agreeing to take part in our research. In preparation for the session, please let me know how you prefer to communicate.</p>
      </div>
      <hr>
      <h2>Understand the importance of the capital D in Deaf</h2>
      <p>People who identify as culturally Deaf and are actively engaged with the Deaf community tend to use a capital D.</p>
      <p>Sign language is often their 1st language. English may be their 2nd language.</p>
      <p>Some Deaf people do not see their deafness as a disability.</p>

      <hr>
      <h2>Face the participant and speak clearly</h2>
      <p>Make sure you:</p>
      <ul>
        <li>are in a well-lit room so they can see your face – not with the light behind you</li>
        <li>reduce background noise and mute your microphone when you're not speaking</li>
        <li>have the person's attention before you start talking</li>
        <li>face them and do not cover your mouth</li>
        <li>speak at normal volume, without exaggerating your lip movements</li>
        <li>use your usual gestures and facial expressions to support what you're saying and hearing</li>
        <li>speak directly to them, even if they have an interpreter</li>
        <li>use plain language and be to the point</li>
        <li>check they understand what you say and phrase things a different way if they do not</li>
      </ul>

      <hr>
      <h2>Have written instructions</h2>
      <p>Write your research instructions in plain English and ask your participant if they would prefer to read them.</p>

      <hr>
      <h2>Offer captions for remote research</h2>
      <p>People who lipread may struggle with this in a remote research session. Offer subtitles during a research session, ideally by using a qualified palantypist (someone who takes verbatim notes, turning speech to text).</p>


    </div>
  </div>
{% endblock %}
