
{% extends 'layout.html' %}

{% block pageTitle %}
  Research with people with physical or motor disabilities - Make NHS services inclusive
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/index",
      text: "Home"
    },
    {
      href: "/things-to-do/conduct-inclusive-research",
      text: "Conduct inclusive research"
    }
    ],
      href: "/things-to-do/conduct-inclusive-research/how-to-conduct-inclusive-research",
      text: "How to conduct inclusive research"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-u-margin-bottom-4">
        Research with people with physical or motor disabilities
      </h1>

      <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">
        Contributors
      </h2>
      <ul class="app-contributors nhsuk-u-margin-bottom-6">
        <li><a id="amy-james" href="#"><img src="/images/amy-james.png" alt="amy james"></a></li>
        <li><a id="michelle-parfitt" href="#"><img src="/images/michelle-parfitt.jpg" alt="michelle parfitt"></a></li>
        <li><a id="samantha-saw" href="#"><img src="/images/samantha-saw.jpg" alt="samantha saw"></a></li>
        <li><a id="sara-wilcox" href="#"><img src="/images/sara-wilcox.jpg" alt="sara wilcox"></a></li>
        <li><a id="chloe-philippou" href="#"><img src="/images/chloe-philippou.jpg" alt="chloe philippou"></a></li>
       <li><a id="rhiannon-smith" href="#"><img src="/images/rhiannon-smith.png" alt="rhiannon smith"></a></li>
       <li><a id="richard-kelly" href="#"><img src="/images/richard-kelly.png" alt="richard kelly"></a></li>
    </ul>

      <hr>
      <h2>Adapt co-design activities</h2>
      <p>Activities that involve fine motor skills, like cutting out text or sketching, can be difficult for some users. Make sure there are alternative activities for them to do.</p>

      <hr>

      <h2>Gather data by observing participants</h2>
      <p>If participants have a severe disability and need to use alternative ways to communicate, for example eye-tracking technology, it can help to collect observational data. To do this, create a list of tasks and indicators that match your hypothesis and observe if the user successfully completes the tasks.</p>

      <hr>
      <h2>Ask closed questions</h2>
      <p>Usually user researchers ask lots of open questions. It's easier for participants who are non-verbal and rely on a communication device, if you design your research to include more closed questions.</p>
    </div>
  </div>
{% endblock %}
