
{% extends 'layout.html' %}

{% block pageTitle %}
  Research with people with sight loss - Make NHS services inclusive
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/index",
        text: "Home"
      },
      {
        href: "/things-to-do/conduct-inclusive-research",
        text: "Conduct inclusive research"
      },
      {
        href: "/things-to-do/conduct-inclusive-research/how-to-conduct-inclusive-research",
        text: "How to conduct inclusive research"
      }
      ]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-u-margin-bottom-4">
        Research with people with sight loss
      </h1>

      <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">
        Contributors
      </h2>
      <ul class="app-contributors nhsuk-u-margin-bottom-6">
        <li><a id="amy-james" href="#"><img src="/images/amy-james.png" alt="amy james"></a></li>
        <li><a id="michelle-parfitt" href="#"><img src="/images/michelle-parfitt.jpg" alt="michelle parfitt"></a></li>
        <li><a id="samantha-saw" href="#"><img src="/images/samantha-saw.jpg" alt="samantha saw"></a></li>
        <li><a id="sara-wilcox" href="#"><img src="/images/sara-wilcox.jpg" alt="sara wilcox"></a></li>
        <li><a id="chloe-philippou" href="#"><img src="/images/chloe-philippou.jpg" alt="chloe philippou"></a></li>
       <li><a id="rhiannon-smith" href="#"><img src="/images/rhiannon-smith.png" alt="rhiannon smith"></a></li>
       <li><a id="richard-kelly" href="#"><img src="/images/richard-kelly.png" alt="richard kelly"></a></li>
      </ul>
      <hr>
      <h2>Know how to guide blind participants</h2>
      <p>Introduce yourself and talk directly to them.</p>
      <p>Ask them how they would like you to guide them. Often the best way is to offer your elbow for them to hold onto.</p>
      <p>Tell them where you're going and where things are. For example, "We're going through a door on our right". Tell them if the door opens towards them or away. Watch out for any hazards and mention where they are.</p>
      <p>If you're guiding someone to a seat, place their hand on the back of it, so they can tell which way it faces.</p>
      <p>Do not leave the room without explaining what you're doing.</p>
    
      <hr>
      <h2>Make sure the space is accessible</h2>
      <p>Check there are no hazards and that the person has room to manoeuvre.</p>
      <p>If they have a guide dog, make sure there is room for the dog too.</p>
 
      <hr>
      <h2>Let screen reader users set their own speed</h2>
      <p>Allow users to set their screen reader to their usual speed so they can engage naturally with your product.</p>
      <p>If they use their screen reader too fast for you to understand, ask them to tell you about anything that confuses them or causes a problem. Ask what keys they pressed and record this. You can also ask them to slow the screen reader down and show you the issue, so that you understand what it announced and what happened.</p>
      
      <hr>
      <h2>Avoid questions and activities that rely on visual cues</h2>
      <p>If you're using visual cues (for example, rating scales or emojis), print them out in large print with high colour contrast for people with low vision. For blind participants, avoid visual cues altogether. Instead, ask them to rate something on a scale 1 to 5, where 1 is the worst and 5 is the best.</p>
      <p>If you're using coloured stickers, make sure the stickers are different shapes as well as different colours, for users who cannot see colour.</p>
      <p>Read more about <a href="https://service-manual.nhs.uk/accessibility/content#do-not-rely-on-colour-or-position-alone">not relying on colour or position alone, in the accessibility guidance</a>.</p>

    </div>
  </div>
{% endblock %}
