
{% extends 'layout.html' %}

{% block pageTitle %}
  Research with trans people - Make NHS services inclusive
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/index",
        text: "Home"
      },
      {
        href: "/things-to-do/conduct-inclusive-research",
        text: "Conduct inclusive research"
      },
      {
        href: "/things-to-do/conduct-inclusive-research/how-to-conduct-inclusive-research",
        text: "How to conduct inclusive research"
      }
      ]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-u-margin-bottom-4">
        Research with trans people
      </h1>

      <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">
        Contributors
      </h2>
      <ul class="app-contributors nhsuk-u-margin-bottom-6">
        <li><a id="amy-james" href="https://github.com/amyj2110"><img src="https://avatars.githubusercontent.com/u/60343363?v=4" /></a></li>
        <li><a id="michelle-parfitt" href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U01C7QTAF4L-d64867ca1349-512" /></a></li>
        <li><a id="samantha-saw" href="https://github.com/samanthasaw"><img src="https://avatars.githubusercontent.com/u/38656667?v=4" /></a></li>
        <li><a id="sara-wilcox" href="https://github.com/sarawilcox"><img src="https://avatars.githubusercontent.com/u/45792959?v=4" /></a></li>
        <li><a id="chloe-philippou" href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U46BM50BW-6b9f306ef5c9-512" /></a></li>
       <li><a id="rhiannon-smith" href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U99S6SQ4V-16dd6340c1b3-192" /></a></li>
       <li><a id="richard-kelly" href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U8Q4A83LG-fbca3f9455dd-512" /></a></li>
    </ul>

      <hr>
      <h2>When you introduce yourself, tell the person your pronouns</h2>
      <p>This normalises asking for pronouns, and allows everyone to say how they would like to be addressed.</p>
      <p>Never assume someone's pronouns.</p>

      <hr>
      <h2>If you are showing non-inclusive content, give people trigger warnings</h2>
      <p>This can be as simple as a verbal warning like "We're going to show you a page on breastfeeding now, which might be triggering. If at any point you need to leave or stop, please do so".</p>
      <p>This is important because:</p>
      <ul>
        <li>people may need to mentally prepare themselves to deal with it</li>
        <li>people might not feel able to deal with the content during the session and may have to stop, in which case it's important that you support them to do this</li>
      </ul>

    </div>
  </div>
{% endblock %}
