
{% extends 'layout.html' %}

{% block pageTitle %}
  Research with people with hearing loss - Make NHS services inclusive
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/index",
        text: "Home"
      },
      {
        href: "/things-to-do/conduct-inclusive-research",
        text: "Conduct inclusive research"
      },
      {
        href: "/things-to-do/conduct-inclusive-research/how-to-conduct-inclusive-research",
        text: "How to conduct inclusive research"
      }
      ]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-u-margin-bottom-4">
        Research with people with hearing loss
      </h1>

      <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">
        Contributors
      </h2>
      <ul class="app-contributors nhsuk-u-margin-bottom-6">
        <li><a id="amy-james" href="#"><img src="/images/amy-james.png" alt="amy james"></a></li>
        <li><a id="michelle-parfitt" href="#"><img src="/images/michelle-parfitt.jpg" alt="michelle parfitt"></a></li>
        <li><a id="samantha-saw" href="#"><img src="/images/samantha-saw.jpg" alt="samantha saw"></a></li>
        <li><a id="sara-wilcox" href="#"><img src="/images/sara-wilcox.jpg" alt="sara wilcox"></a></li>
        <li><a id="chloe-philippou" href="#"><img src="/images/chloe-philippou.jpg" alt="chloe philippou"></a></li>
       <li><a id="rhiannon-smith" href="#"><img src="/images/rhiannon-smith.png" alt="rhiannon smith"></a></li>
       <li><a id="richard-kelly" href="#"><img src="/images/richard-kelly.png" alt="richard kelly"></a></li>
    </ul>

      <hr>
      <h2>Write down any instructions</h2>
      <p>Have instructions written down so that participants can read them instead of you talking to them and them using an interpreter or lipreading. This will be down to personal preference of the participant, however, sometimes reading will take less energy and will be easier for them.</p>

      <hr>
      <h2>Face the participant and speak clearly</h2>
      <p>When talking to someone with an auditory impairment, the following steps will make it easier for them to lip read and understand you:</p>
      <ul>
        <li>Get their attention before you start to speak.</li>
        <li>Face them whilst you’re speaking.</li>
        <li>Don’t cover your mouth whilst you are talking.</li>
        <li>Speak clearly.</li>
      </ul>

      <hr>
      <h2>Speak directly to them</h2>
      <p>Some deaf people will have an interpreter with them. Although they will be helping you to communicate with the participant, it is best practice (and polite) to speak directly to the participant, not to their interpreter.</p>

      <hr>
      <h2>Offer captions for remote research</h2>
      <p>Deaf people who may ordinarily be OK with lip reading may struggle with this more in a remote research session. It’s therefore best practice to offer subtitles (ideally provided by a panel typist) during a research session.</p>


    </div>
  </div>
{% endblock %}
