
{% extends 'layout.html' %}

{% block pageTitle %}
  Research with neurodiverse people - Make NHS services inclusive
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/index",
        text: "Home"
      },
      {
        href: "/things-to-do/conduct-inclusive-research",
        text: "Conduct inclusive research"
      },
      {
        href: "/things-to-do/conduct-inclusive-research/how-to-conduct-inclusive-research",
        text: "How to conduct inclusive research"
      }
      ]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-u-margin-bottom-4">
        Research with neurodiverse people
      </h1>

      <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">
        Contributors
      </h2>
      <ul class="app-contributors nhsuk-u-margin-bottom-6">
        <li><a id="amy-james" href="#"><img src="/images/amy-james.png" alt="amy james"></a></li>
        <li><a id="michelle-parfitt" href="#"><img src="/images/michelle-parfitt.jpg" alt="michelle parfitt"></a></li>
        <li><a id="samantha-saw" href="#"><img src="/images/samantha-saw.jpg" alt="samantha saw"></a></li>
        <li><a id="sara-wilcox" href="#"><img src="/images/sara-wilcox.jpg" alt="sara wilcox"></a></li>
        <li><a id="chloe-philippou" href="#"><img src="/images/chloe-philippou.jpg" alt="chloe philippou"></a></li>
       <li><a id="rhiannon-smith" href="#"><img src="/images/rhiannon-smith.png" alt="rhiannon smith"></a></li>
       <li><a id="richard-kelly" href="#"><img src="/images/richard-kelly.png" alt="richard kelly"></a></li>
      </ul>

      <hr>
      <h2>Reduce anxiety</h2>
      <p>Some neurodiverse people get very anxious about new situations. They may want more information in advance than other participants.</p>
      <p>If they need it, allow time at the start of the session for them to ask any questions they need to.</p>
      
      <hr>
      <h2>Adapt the way you talk and listen</h2>
      <p>Some neurodiverse people may find it difficult to understand what you're asking them to do. They may also find it difficult to express themselves in words.</p>
      <p>If this happens, watch their body language. Look for signs of focus, interest or frustration.</p>

      <hr>
      <h2>Consider your language</h2>
      <p>Avoid open-ended, vague or hypothetical questions.</p>
      <p>Some neurodiverse people find idioms or metaphors difficult to understand, so be clear and explicit.</p>

      <hr>
      <h2>Break up questions and tasks</h2>
      <p>Some people become easily overwhelmed or find it difficult to remember large chunks of information. Split up tasks and questions into smaller, more manageable chunks.</p>
      <p>Keep questions and tasks simple and short, and order them logically.</p>

      <hr>
      <h2>Include visuals in instructions</h2>
      <p>Giving people visual as well as written instructions makes it easier for people with dyslexia or learning and communication difficulties to follow.</p>
      
      <hr>
      <h2>Allow participants to complete a task the way they usually would</h2>
      <p>It's common in user research to ask participants to imagine a scenario or do a task as a fictional person.</p>
      <p>Some neurodiverse people find abstract thinking difficult. Let them complete tasks as themselves in their own way.</p>


      <hr>
      <h2>Have a conversation about ratings</h2>
      <p>People with some cognitive differences may struggle to understand how to answer a question with a rating, for example on a scale of 1 to 5.</p>
      <p>If the participant is uncertain, ask them why they gave that rating so they can tell you more about what they're thinking.</p>

    </div>
  </div>
{% endblock %}
