
{% extends 'layout.html' %}

{% block pageTitle %}
  Conduct inclusive research - Make NHS services inclusive
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/index",
        text: "Home"
      },
      {
        href: "/things-to-do/conduct-inclusive-research",
        text: "Conduct inclusive user research"
      },
      {
        href: "/things-to-do/conduct-inclusive-research/how-to-conduct-inclusive-research",
        text: "How to conduct inclusive user research"
      }
      ]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-u-margin-bottom-4">
        Tips when conducting research about mental health
      </h1>

      <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">
        Contributors
      </h2>
      <ul class="app-contributors nhsuk-u-margin-bottom-6">
        <li><a href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U46BM50BW-6b9f306ef5c9-512" /></a></li>
        <li><a href="https://github.com/amyj2110"><img src="https://avatars.githubusercontent.com/u/60343363?v=4" /></a></li>
        <li><a href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U01C7QTAF4L-d64867ca1349-512" /></a></li>
        <li><a href="https://github.com/samanthasaw"><img src="https://avatars.githubusercontent.com/u/38656667?v=4" /></a></li>
        <li><a href="https://github.com/sarawilcox"><img src="https://avatars.githubusercontent.com/u/45792959?v=4" /></a></li>
      </ul>

      <hr>
      <h2>Allow people to choose who they want to attend the session</h3>
      <p>Talking about mental health can feel embarrassing and stigmatising for some people. You should ask them if they feel comfortable with people observing their user research session, and allow them to opt into having no observers. Other people may want to bring someone they know and feel comfortable with to the session. </p>
      
      <hr>
      <h2>Prepare for emotionally difficult sessions</h3>
      <p><b>[Trigger warning - suicide and self harm]</b> <br/><br/>
        Listening to people talk about mental health can be emotionally hard and stressful. People may talk in detail about things like suicide attempts or graphic self harm. The participant should not be made to feel ashamed or embarrassed when talking about things like suicide or self harm. You shouldn’t talk to them like you pity them or feel sorry for them.</p>
      
      <hr>
      <h2>Ensure proper safeguarding</h3>
      <h3>Participant safeguarding</h3>
        <p>You should check in with the participant both before and after the research session. You can use a safeguarding checklist, which should ask about things like the participant’s mood that day, whether they feel able to talk to you, and making sure they have a trusted person they can talk to during or after the session.
        </p>
        
        <p>If you are doing the research remotely, things like a “tech check” the day before the session can be useful. This enables you to meet the participant, introduce yourself and allow them to ask any questions they may have beforehand. It can make things a little less daunting on the day.
        </p>
      <h3>Researcher safeguarding</h3>
        <p>It is important that you feel emotionally ready and stable before the session. If you don’t feel up to listening to these stories on the day, it is important to either reschedule the session or ask another researcher on the project to take over.
        </p>  
    </div>
  </div>
{% endblock %}
