
{% extends 'layout.html' %}

{% block pageTitle %}
  Conduct inclusive research - Inclusive and equitable NHS services
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/index",
        text: "Home"
      },
      {
        href: "/things-to-do/conduct-inclusive-research",
        text: "Conduct inclusive user research"
      },
      {
        href: "/things-to-do/conduct-inclusive-research/how-to-conduct-inclusive-research",
        text: "How to conduct inclusive user research"
      }
      ]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-u-margin-bottom-6">
        Tips when conducting research with participants with a motor impairment
      </h1>

      <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">
        Contributors
      </h2>
      <ul class="app-contributors">
        <li><a href="https://github.com/sarawilcox"><img src="https://avatars.githubusercontent.com/u/45792959?v=4" /></a></li>
        <li><a href="https://github.com/amyj2110"><img src="https://avatars.githubusercontent.com/u/60343363?v=4" /></a></li>
      </ul>

      <h2>Adapt co-creation activities</h2>
      <p>Activities might involve hands on activities, such as cutting out pictures or text and creating collages, or making drawings. These tasks may involve fine motor skills which are difficult to complete for users with motor impairments. It’s therefore important to ensure that there are alternative activities which are also accessible to those who do not have fine motor controls.</p>
      <h2>Have clear tasks and indicators of success</h2>
      <p>For participants with a severe mobility impairment, for example, someone who uses an eye tracker to interact and communicate with others, it may be preferable to rely more heavily on observational data. It’s therefore important to have clear tasks with clear indicators of success at the end of tasks, so that you can easily evaluate whether the tasks were completed successfully, based on observations alone.</p>
      <h2>Ask closed questions and design your research to be more observation based</h2>
      <p>Usually, as user researchers, we like to ask lots of open questions. For participants who are non-verbal and rely on a communication device it can make the research more comfortable for the participant if you do not rely on them giving you lengthy answers but instead rely more on observational data and ask more closed questions. This is not to say that you shouldn’t ask any open questions, but that you may have to adjust the balance of the two.</p>
    </div>
  </div>
{% endblock %}
