
{% extends 'layout.html' %}

{% block pageTitle %}
  Conduct inclusive research - Inclusive and equitable NHS services
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/index",
        text: "Home"
      },
      {
        href: "/things-to-do/conduct-inclusive-research",
        text: "Conduct inclusive user research"
      },
      {
        href: "/things-to-do/conduct-inclusive-research/how-to-conduct-inclusive-research",
        text: "How to conduct inclusive user research"
      }
      ]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-u-margin-bottom-4">
        Tips when conducting research with neuro-diverse participants
      </h1>

      <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">
        Contributors
      </h2>
      <ul class="app-contributors nhsuk-u-margin-bottom-6">
        <li><a href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U46BM50BW-6b9f306ef5c9-512" /></a></li>
        <li><a href="https://github.com/amyj2110"><img src="https://avatars.githubusercontent.com/u/60343363?v=4" /></a></li>
        <li><a href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U01C7QTAF4L-d64867ca1349-512" /></a></li>
        <li><a href="https://github.com/samanthasaw"><img src="https://avatars.githubusercontent.com/u/38656667?v=4" /></a></li>
        <li><a href="https://github.com/sarawilcox"><img src="https://avatars.githubusercontent.com/u/45792959?v=4" /></a></li>
      </ul>

      <hr>
      <h2>Have tasks and scenarios written down</h2>
      <p>Ensure that tasks and scenarios are kept as short as possible, without compromising on clarity. Present these to the participants and read through the tasks and scenarios with them. This will make it easier for people with dyslexia and attention deficits to follow.</p>

      <hr>
      <h2>Include visuals within instructions</h2>
      <p>Where appropriate, provide visual rather than/in addition to written instructions. This will make it easier for participants with dyslexia, and learning and communication difficulties to follow.</p>
      
      <hr>
      <h2>Allow participants to complete scenarios as themselves</h2>
      <p>It is common within UX research to ask participants to imagine that they are a fictional person (e.g. “Imagine you’re Chris, you’re 57 years old and you’d like to fly to Malta with your partner, Skye, on 3 December”). These abstract concepts can be difficult for people with certain cognitive impairments to grasp, so it’s preferable to allow them to complete tasks and scenarios as themselves.</p>
      
      <hr>
      <h2>Split up questions and tasks</h2>
      <p>Some of this user group may become easily overwhelmed or find it difficult to remember large chunks of information. It is therefore important to reduce the cognitive load for participants by splitting up tasks and questions into smaller, more manageable chunks.</p>
      
      <hr>
      <h2>Use rating scales as a conversation prompt.</h2>
      <p>People with certain cognitive impairments, like learning difficulties, may struggle to understand how to provide a rating that is truly indicative of their opinion. However, rating scales can be used as a conversation point with these participants, instead of relying on just the number they answer with. Always asks participants why they gave that number so that they are prompted to discuss their opinions and thoughts further.</p>

    </div>
  </div>
{% endblock %}
