
{% extends 'layout.html' %}

{% block pageTitle %}
  Change the way you design and build things - Make NHS services inclusive
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/index",
        text: "Home"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-u-margin-bottom-6">
        Change the way you design and build things
      </h1>
      <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">
        Contributors
      </h2>
      <ul class="app-contributors">
        <li><a id="michelle-parfitt" href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U01C7QTAF4L-d64867ca1349-512" /></a></li>
        <li><a id="samantha-saw" href="https://github.com/samanthasaw"><img src="https://avatars.githubusercontent.com/u/38656667?v=4" /></a></li>
        <li><a id="sara-wilcox" href="https://github.com/sarawilcox"><img src="https://avatars.githubusercontent.com/u/45792959?v=4" /></a></li>
        <li><a id="chloe-philippou" href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U46BM50BW-6b9f306ef5c9-512" /></a></li>
        <li><a id="rhiannon-smith" href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U99S6SQ4V-16dd6340c1b3-192" /></a></li>
        <li><a id="richard-kelly" href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U8Q4A83LG-fbca3f9455dd-512" /></a></li>
      </ul>

      <hr>
      <h2>
        Consider co-designing your service
      </h2>
      <p>
        Involve your users or charities that represent them. You may be able to draw on internal staff networks.
      </p>
      <p>
        When we co-design, we share power more equally. Share power at every stage of your project: in research, decision-making, design, delivery and evaluation. Make it an ongoing conversation.
      </p>
      <div class="app-example app-example--content">
        <strong class="nhsuk-tag app-example__heading">Example</strong>
        <p class="nhsuk-u-margin-bottom-0">We designed a new video player, so that it could show British Sign Language (BSL) versions of videos. We worked with our internal Deaf and hard of hearing group and with charities and iterated our prototypes with them.</p>
      </div>
    </div>
    <div class="nhsuk-grid-column-one-third">
    </div>
  </div>
{% endblock %}
