
{% extends 'layout.html' %}

{% block pageTitle %}
  Change the way you design and build things - Make NHS services inclusive
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
        href: "/index",
        text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-u-margin-bottom-6">
        Change the way you design and build things
      </h1>
      <!---<h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">
        Contributors
      </h2>
      <ul class="app-contributors">
        <li><a id="sara-wilcox" href="#"><img src="/images/sara-wilcox.jpg" alt="sara wilcox"></a></li>
        <li><a id="chloe-philippou" href="#"><img src="/images/chloe-philippou.jpg" alt="chloe philippou"></a></li>
        <li><a id="rhiannon-smith" href="#"><img src="/images/rhiannon-smith.png" alt="rhiannon smith"></a></li>
        <li><a id="richard-kelly" href="#"><img src="/images/richard-kelly.png" alt="richard kelly"></a></li>
      </ul>--->

      <hr>
      <h2>Be accountable</h2>
      <p>Teams should hold themselves accountable for stating who might currently be excluded from a particular service. Accountability includes saying how we are going to include those who are currently excluded.</p>
      <hr>
      <h2>Learn from users</h2>
      <p>Teams should keep the voices of those who are directly affected by the design of healthcare services, and those who are most likely to be excluded, at the centre of the design and development process.</p>
      <hr>
      <h2>Use cognitive walkthroughs to evaluate the usability of a service</h2>
      <p>In a cognitive walkthrough, a team assesses a service or website from a particular user's perspective and imagines their thoughts and actions. It uses a series of tasks and questions and a known set of user goals.</p>
      <div class="app-example app-example--content">
        <strong class="nhsuk-tag app-example__heading">Example</strong>
        <p class="nhsuk-u-margin-bottom-4">A team used cognitive walkthroughs when building an image gallery. This helped them identify a potential problem for speech-to-text users which they had not identified before.</p>
        <p class="nhsuk-u-margin-bottom-0">As a result, they labelled each thumbnail in the gallery with a number and made sure they were coded so that speech-to-text users could easily instruct their assistive tech to click on them.</p>
    </div>
    <hr>
      <h2>Design for someone permanently excluded</h2>
      <p>When we design services for someone who might be permanently excluded, this also improves the experience of many more people. It helps people who might be experiencing temporary or situational exclusion and makes the service better for everyone else.</p>
      <hr>
      <h2>Be facilitators rather than experts</h2>
      <p>The people with and for whom we are designing and delivering services are all experts in their lived experience.</p>
      <hr>
      <h2>
        Consider co-designing your service
      </h2>
      <p>
        Involve your users or charities that represent them. You may be able to draw on internal staff networks.
      </p>
      <p>
        When we co-design, we share power more equally. Share power at every stage of your project: in research, decision-making, design, delivery and evaluation. Make it an ongoing conversation.
      </p>
      <div class="app-example app-example--content">
        <strong class="nhsuk-tag app-example__heading">Example</strong>
        <p class="nhsuk-u-margin-bottom-0">We designed a new video player, so that it could show British Sign Language (BSL) versions of videos. We worked with our internal Deaf and hard of hearing group and with charities and iterated our prototypes with them.</p>
      </div>
    </div>
    <div class="nhsuk-grid-column-one-third">
    </div>
  </div>
{% endblock %}
