
{% extends 'layout.html' %}

{% block pageTitle %}
  Consider the experiences of groups who are often excluded - Inclusive and equitable NHS services
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/index",
        text: "Home"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-u-margin-bottom-6">
        Consider the experiences of groups who are often excluded
      </h1>

      <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">
        Contributors
      </h2>
      <ul class="app-contributors">
        <li><a href="https://github.com/sarawilcox"><img src="https://avatars.githubusercontent.com/u/45792959?v=4" /></a></li>
        <li><a href="https://github.com/henocookie"><img src="https://avatars.githubusercontent.com/u/52792328?v=4" /></a></li>
        <li><a href="https://github.com/lucyha"><img src="https://avatars.githubusercontent.com/u/63046292?v=4" /></a></li>
        <li><a href="https://github.com/cameronross2"><img src="https://avatars.githubusercontent.com/u/62945270?v=4" /></a></li>
        <li><a href="https://github.com/amyj2110"><img src="https://avatars.githubusercontent.com/u/60343363?v=4" /></a></li>
        <li><a href="https://github.com/nancyhalladay24"><img src="https://avatars.githubusercontent.com/u/63845568?v=4" /></a></li>
        <li><a href="https://github.com/ericlamarca"><img src="https://avatars.githubusercontent.com/u/36114268?v=4" /></a></li>
      </ul>
      
      <h2>Ask yourself who could be excluded by your content</h2>
      <p>Some groups of people, particularly minority groups, are more likely to be excluded than others. This can be because of their age, abilities, ethnicity, a lack of resources or other circumstances.</p>
      <div class="app-example app-example--content">
        <strong class="nhsuk-tag app-example__heading">Example</strong>
        <p class="nhsuk-u-margin-bottom-0">If someone who is pregnant does not identify as a woman, they may feel excluded by breastfeeding content. We interviewed trans men who had given birth and are creating new content on chestfeeding for this audience.</p>
      </div>
      <h2>Do not make assumptions about your users</h2>
      <p>Be aware of your own biases and privilege, so that your design doesn’t just reflect your own lived experiences.</p>
      <p>Carry out user research to make sure your design assumptions are correct.</p>
      <div class="app-example app-example--content">
        <strong class="nhsuk-tag app-example__heading">Example</strong>
        <p class="nhsuk-u-margin-bottom-0">Some of our pregnancy content assumed that people were happy about their pregnancy. But a pregnant 15-year-old may not have the same needs as someone who's older with a planned pregnancy. So we considered the needs of people with different feelings.</p>
      </div>
    </div>
  </div>
{% endblock %}
