
{% extends 'layout.html' %}

{% block pageTitle %}
  Consider the experiences of groups who are often excluded - Make NHS services inclusive
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/index",
        text: "Home"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-u-margin-bottom-4">
        Consider the experiences of groups who are often excluded
      </h1>

      <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">
        Contributors
      </h2>
      <ul class="app-contributors">
        <li><a id="lucy-winder" href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U991WNMDW-0b20121eac13-512" /></a></li>
        <li><a id="sara-wilcox" href="https://github.com/sarawilcox"><img src="https://avatars.githubusercontent.com/u/45792959?v=4" /></a></li>
        <li><a id="michelle-parfitt" href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U01C7QTAF4L-d64867ca1349-512" /></a></li>
        <li><a id="cameron-ross" href="#"><img src="/images/cameron-ross.png"></a></li>
        <li><a id="clara-greo" href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U01JASVBSLD-43dd562f5827-512" /></a></li>
        <li><a id="chloe-philippou" href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U46BM50BW-6b9f306ef5c9-512" /></a></li>
        <li><a id="rhiannon-smith" href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U99S6SQ4V-16dd6340c1b3-192" /></a></li>
        <li><a id="richard-kelly" href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U8Q4A83LG-fbca3f9455dd-512" /></a></li>
      </ul>

      <hr>
      <h2>Ask yourself who could be excluded by your service</h2>
      <p>Some groups of people, particularly minority groups, are more likely to be excluded than others. This can be because of their age, abilities, ethnicity, a lack of resources or other circumstances.</p>
      <div class="app-example app-example--content">
        <strong class="nhsuk-tag app-example__heading">Example</strong>
        <p class="nhsuk-u-margin-bottom-0">If someone who is pregnant does not identify as a woman, they may feel excluded by breastfeeding content. One NHS website team interviewed trans men who had given birth and are creating new content on chestfeeding for this audience.</p>
      </div>

      <hr>
      <h2>Do not make assumptions about your users</h2>
      <p>Be aware of your own biases and privilege, so that your design doesn’t just reflect your own lived experiences.</p>
      <p>Carry out user research to make sure your design assumptions are correct.</p>
      <div class="app-example app-example--content">
        <strong class="nhsuk-tag app-example__heading">Example</strong>
        <p class="nhsuk-u-margin-bottom-0">Some of our pregnancy content assumed that people were happy about their pregnancy. But a pregnant 15-year-old may not have the same needs as someone who's older with a planned pregnancy. So one NHS website team considered the needs of people with different feelings.</p>
      </div>

      <hr>
      <h2>Think about social and cultural group dynamics</h2>
      <p>If you're going to do research with a group of people, ask yourself questions like these.</p>
      <ul>
        <li>Should I be the person doing this research or will my presence have a negative effect on the process?</li>
        <li>Should I speak to people in smaller groups? Are there power dynamics between people that I need to be aware of?</li>
        <li>Do I know enough about the history of the group? Am I aware of topics or past events that might affect what they want to talk about?</li>
      </ul>

      <hr>
      <h2>Get the best engagement out of a group</h2>
      <p>Bear in mind things like literacy and numeracy levels and trust.</p>
      <p>Adapt yourself and your methodologies first, rather than trying to get people to adapt to you. Be flexible, and prepared not to finish everything you wanted.</p>

      <hr>
      <h2>Use cognitive walkthroughs to evaluate the usability of a service</h2>
      <p>In a cognitive walkthrough, a user researcher assesses a service or website from a particular user's perspective and imagines their thoughts and actions. It uses a series of tasks and questions and a known set of user goals.</p>
      <div class="app-example app-example--content">
        <strong class="nhsuk-tag app-example__heading">Example</strong>
        <p class="nhsuk-u-margin-bottom-4">A team used cognitive walkthroughs when building an image gallery. This helped them identify a potential problem for speech-to-text users which they had not identified before.</p>
        <p class="nhsuk-u-margin-bottom-0">As a result, they labelled each thumbnail in the gallery with a number and made sure they were coded so that speech-to-text users could easily instruct their assistive tech to click on them. [Link to a short case study?]</p>
    </div>
    <hr>
    <h2>
      Use consequence scanning to check the impact of the thing you are building
    </h2>
    <p>Set aside time to actively consider the potential consequences of your work on specific user groups. Take the opportunity to learn from the experiences of other team members who may be part of seldom-heard groups.</p>
    <p>Use consequence scanning to generate action items to add to your backlog.</p>
    <div class="app-example app-example--content">
        <strong class="nhsuk-tag app-example__heading">Example</strong>
        <p class="nhsuk-u-margin-bottom-0">Some NHS Digital teams use consequence scanning at the beginning of each project and involve the whole team in this. Other teams have used consequence scanning to look at their entire product and then focussed on a specific piece of work.</p>
      </div>
      <p>This <a href="https://app.mural.co/t/nhsdigital8118/m/nhsdigital8118/1625137159228/14fca6983fed3da6e3fd89d33ef88ac8150cdcfc">Mural template</a> has prompt questions and a list of user groups to consider.</p>
      <p>Read more about <a href="https://doteveryone.org.uk/project/consequence-scanning/">consequence scanning on Doteveryone's website</a>.
    </p>

  </div>
{% endblock %}
