
{% extends 'layout.html' %}

{% block pageTitle %}
  Consider the experiences of groups who are often excluded - Inclusive and equitable NHS services
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/index",
        text: "Home"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-u-margin-bottom-4">
        Consider the experiences of groups who are often excluded
      </h1>

      <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">
        Contributors
      </h2>
      <ul class="app-contributors">
        <li><a href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U991WNMDW-0b20121eac13-512" /></a></li>
        <li><a href="https://github.com/sarawilcox"><img src="https://avatars.githubusercontent.com/u/45792959?v=4" /></a></li>
        <li><a href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U01C7QTAF4L-d64867ca1349-512" /></a></li>
      </ul>

      <hr>
      <h2>Ask yourself who could be excluded by your service</h2>
      <p>Some groups of people, particularly minority groups, are more likely to be excluded than others. This can be because of their age, abilities, ethnicity, a lack of resources or other circumstances.</p>
      <div class="app-example app-example--content">
        <strong class="nhsuk-tag app-example__heading">Example</strong>
        <p class="nhsuk-u-margin-bottom-0">If someone who is pregnant does not identify as a woman, they may feel excluded by breastfeeding content. We interviewed trans men who had given birth and are creating new content on chestfeeding for this audience.</p>
      </div>
      
      <hr>
      <h2>Do not make assumptions about your users</h2>
      <p>Be aware of your own biases and privilege, so that your design doesn’t just reflect your own lived experiences.</p>
      <p>Carry out user research to make sure your design assumptions are correct.</p>
      <div class="app-example app-example--content">
        <strong class="nhsuk-tag app-example__heading">Example</strong>
        <p class="nhsuk-u-margin-bottom-0">Some of our pregnancy content assumed that people were happy about their pregnancy. But a pregnant 15-year-old may not have the same needs as someone who's older with a planned pregnancy. So we considered the needs of people with different feelings.</p>
      </div>
  
      <hr>
      <h2>Understand the dynamics of a group</h2>
      <p>It’s important to understand the social and cultural dynamics of a group. If you’re going to do research with certain people, maybe ask yourself questions like:</p>
      <ul>
        <li>Should I be the one doing this research? Will my presence be detrimental to the process?</li>
        <li>Should we be speaking to people in smaller groups? Are there power dynamics between people that we need to be aware of?</li>
        <li>Do you know enough about the history of the group? Are you aware of topics, areas or past events that might impact what you want to talk about?</li>
      </ul>

      <hr>
      <h2>Understand how to get the best engagement out of a group</h2>
      <p>It is important to bear things like literacy and numeracy levels and trust in mind when you are talking to or designing for a certain group. Be prepared to adapt your approaches to get the best engagement out of a group of people.</p>
      <p> You should always be trying to adapt yourself and your methodologies first, rather than trying to force people to adapt to you. Be flexible, and prepared not to finish everything you wanted.</p>

      <hr>
      <h2>Use cognitive walkthroughs</h2>
      <p>A cognitive walkthrough is a tool used to evaluate the usability of a service. It works by using a series of tasks and questions, looking at things from a certain user’s perspective.</p>
      <div class="app-example app-example--content">
        <strong class="nhsuk-tag app-example__heading">Example</strong>
        <p class="nhsuk-u-margin-bottom-4">[A team] used cognitive walkthroughs when building an image gallery. It helped them identify a potential problem for speech-to-text users which they hadn’t identified before.</p>
        <p class="nhsuk-u-margin-bottom-0">As a result of the cognitive walkthrough, they labelled each thumbnail in the gallery with a number. They ensured that it was coded in a way that would allow speech-to-text users to easily instruct their assistive tech to click on them. [link to a small case study?].</p>
    </div>
    <hr>
    <h2>
      Use consequence scanning
    </h2>
    <p>
      <a href="https://doteveryone.org.uk/project/consequence-scanning/">Consequence scanning</a> is a great way to set some time aside of the team to actively considering the consequences of their work on specific user groups. It’s also an opportunity for a team to learn from the experiences of other team members as everyone is encourage to consider the experience of seldom heard groups (of which some team members might be a part of).
      <div class="app-example app-example--content">
        <strong class="nhsuk-tag app-example__heading">Example</strong>
        <p>Some of the teams at NHS Digital had introduced this method at the beginning of each project. They’ve involved the whole multidisciplinary product team when doing this. Other teams have used consequence scanning when looking at their entire product, and then focusing on the consequences of a specific piece of work. Consequence scanning can be used to generate action items to add to your backlog, as well as generate insightful discussions for a team to learn from.</p>
        <p>You can use this <a href="https://app.mural.co/t/nhsdigital8118/m/nhsdigital8118/1625137159228/14fca6983fed3da6e3fd89d33ef88ac8150cdcfc">Mural template</a> to try consequence scanning in your team. It also has prompt questions and a list of user groups to consider. [Mural template created by Clara Greo and Cameron Ross]</p>
      </div>  
    </p>
  </div>
{% endblock %}
