
{% extends 'layout.html' %}

{% block pageTitle %}
  Change the way you design and build things - Make NHS services inclusive
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/index",
        text: "Home"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-u-margin-bottom-6">
        Manage relationships
      </h1>
      <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">
        Contributors
      </h2>
      <ul class="app-contributors">
        <li><a id="michelle-parfitt" href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U01C7QTAF4L-d64867ca1349-512" /></a></li>
        <li><a id="cameron-ross" href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U0101EPH2HG-b315d0a19525-192" /></a></li>
        <li><a id="lucy-ha" href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-UN4QVEC2F-b6a2312bde09-192" /></a></li>
      </ul>


      <hr>
      <h2>
        Consider the clinical impact of your work, rather than the number of people it affects
      </h2>
      <p>
        One of the reasons for push back on a lot of inclusion work is the number of people it affects. It’s good to prepare counter arguments for this, such as looking at the clinical impact of the work you are doing. [A team] created some criteria to prioritise their work which focused on things like “perceived clinical impact” and “effort to meet user needs”, rather than thinking about the number of people their work would affect.
      </p>

      <hr>
      <h2>
        Build allies through the work you’re doing
      </h2>
      <p>
        Being proactive to build relationships and share positive work is really important. It’s good to have as many allies as possible when you’re managing difficult conversations. [A team] built a relationship with the LGBT+ advisory team at NHS England. They were incredibly supportive and helpful when the team had to have difficult conversations with stakeholders. [link to case study?]
      </p>

      <hr>
      <h2>
        Understand the bigger picture of your work
      </h2>
      <p>
        It’s important to look to other areas of the NHS and wider organisations to see what work they might be doing. Having evidence that other parts of the NHS have identified and prioritised the same problem you’re working on can support your argument when having difficult. It can also be beneficial to align on use of language.
      </p>

      <hr>
      <h2>
        Create a stakeholder map
      </h2>
      <p>
        Stakeholder maps can help you identify who you need to engage with. They can also show which of your stakeholders are working together and help you better understand their relationships and goals.
      </p>

      <hr>
      <h2>
        Use video to communicate difficult issues
      </h2>
      <p>
        Video clips from user research sessions can be a really powerful way to get stakeholders to truly grasp an issue that you’re trying to communicate. Watching a video of someone can feel more tangible and engaging compared to trying to explain the issue on someone’s behalf.
      </p>
      <h3>Some tips on creating video clips from user research sessions:</h3>
      <ul>
        <li>Keep them short. You will want around 2-3 participant clips illustrating each key point you’re trying to highlight</li>
        <li>Include text dividers in the videos to split up clips for different themes. You want the video to make sense as a stand alone if someone were to come across it.</li>
        <li>Add any other missing context in a clip by putting text on the screen and audio to explain, for example, “they are now talking about the help section of the website.”</li>
      </ul>

      <hr>
      <h2>
        Engage with your comms team
      </h2>
      <p>
        It’s important to speak to your communications team early on in the project. You may need to create a reactive media plan for any potential backlash to the work you’re doing.
      </p>

      <hr>
      <h2>
        Advocating for inclusive design
      </h2>
      <p>
        There will be times when you will come across barriers and blockers to working inclusively. You will need to be able to advocate for inclusive design in these situations. It can be tricky to challenge other teams, or organisations.
        <br/>
        <br/>
        It can be beneficial to get both product teams together and share everything you’ve learned. You can emphasise why it is important and provide follow up information that can be used later.
      </p>
    </div>
    <div class="nhsuk-grid-column-one-third">
    </div>
  </div>
{% endblock %}
