
{% extends 'layout.html' %}

{% block pageTitle %}
  Conduct inclusive research - Inclusive and equitable NHS services
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/index",
        text: "Home"
      },
      {
        href: "/things-to-do/conduct-inclusive-research",
        text: "Conduct inclusive user research"
      }
      ]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-u-margin-bottom-4">
        How to conduct inclusive research
      </h1>

      <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">
        Contributors
      </h2>
      <ul class="app-contributors nhsuk-u-margin-bottom-6">
        <li><a id="amy-james" href="https://github.com/amyj2110"><img src="https://avatars.githubusercontent.com/u/60343363?v=4" /></a></li>
        <li><a id="michelle-parfitt" href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U01C7QTAF4L-d64867ca1349-512" /></a></li>
        <li><a id="samantha-saw" href="https://github.com/samanthasaw"><img src="https://avatars.githubusercontent.com/u/38656667?v=4" /></a></li>
        <li><a id="sara-wilcox" href="https://github.com/sarawilcox"><img src="https://avatars.githubusercontent.com/u/45792959?v=4" /></a></li>
        <li><a id="chloe-philippou" href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U46BM50BW-6b9f306ef5c9-512" /></a></li>
       <li><a id="rhiannon-smith" href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U99S6SQ4V-16dd6340c1b3-192" /></a></li>
       <li><a id="richard-kelly" href="#"><img src="https://ca.slack-edge.com/T0FRZQSMB-U8Q4A83LG-fbca3f9455dd-512" /></a></li>
      </ul>

      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-4"><a href="how-to-conduct-inclusive-research/general">General tips</a></h2>
      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-4"><a href="how-to-conduct-inclusive-research/tips-trans-people">Tips when conducting research with trans people</a></h2>
      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-4"><a href="how-to-conduct-inclusive-research/tips-mental-health">Tips when conducting research about mental health</a></h2>
      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-4"><a href="how-to-conduct-inclusive-research/tips-neuro-diverse">Tips when conducting research with neuro-diverse participants</a></h2>
      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-4"><a href="how-to-conduct-inclusive-research/tips-motor-impairment">Tips when conducting research with participants with a motor impairment</a></h2>
      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-4"><a href="how-to-conduct-inclusive-research/tips-auditory-impairment">Tips for conducting research with participants with an auditory impairment</a></h2>
      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-4"><a href="how-to-conduct-inclusive-research/tips-vision-impairment">Tips when conducting research with participants with vision impairments</a></h2>

    </div>
  </div>
{% endblock %}
