
{% extends 'layout.html' %}

{% block pageTitle %}
  Home - Inclusive and equitable NHS services
{% endblock %}

{% block beforeContent %}

  {{ breadcrumb({
    items: [
      {
        href: "/index",
        text: "Home"
      }
    ],
    href: "/things-to-consider",
    text: "Things to consider"
  }) }}
  
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Figure out which groups are likely to be excluded by your service.
      </h1>

      <p>Example paragraph.</p>

      <p>Example paragraph.</p>

      <p>Example paragraph.</p>

      <div class="nhsuk-card nhsuk-u-margin-top-8 nhsuk-u-margin-bottom-0">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-heading-m">
            This is work in progress
          </h2>
          <p>
            Everyone making NHS services can make changes or share their thoughts.
          </p>
          <a href="https://github.com/ericlamarca/inclusive-equitable-services/blob/main/app/views/services-exclude-groups.html" class="nhsuk-button nhsuk-u-margin-bottom-4">
            Edit this page on GitHub
          </a>
          <p>
            Or see <a href="/contribute">other ways to contribute</a>.
          </p>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
