
{% extends 'layout.html' %}

{% block pageTitle %}
  How to write recruitment briefs - Make NHS services inclusive
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/index",
        text: "Home"
      }
      ],
        href: "/things-to-do/conduct-inclusive-research",
        text: "Conduct inclusive research"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-u-margin-bottom-8">
        How to write recruitment briefs
      </h1>

      <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-4"><a href="how-to-write-recruitment-briefs/structure-and-examples-for-recruitment-briefs">Structure and examples for recruitment briefs</a></h2>
      <!--- <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-4"><a href="#">Participant screening advice</a></h2> --->


    </div>
  </div>
{% endblock %}
