
{% extends 'layout.html' %}

{% block pageTitle %}
  Home - Make NHS services inclusive
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-reading-width">
      <h1 class="nhsuk-u-margin-bottom-4 ">
        Make NHS services inclusive
      </h1>
      <p class="nhsuk-u-margin-bottom-4">These drafts are a collaborative effort by teams across NHS England.</p>
</div>
        <div class="nhsuk-grid-column-full  ">
    <hr>
    </div>
    <div class="nhsuk-grid-column-full nhsuk-u-reading-width">
      <h2 id="why-its-important">Inclusive design definition</h2>
      <p>Inclusive design is an approach to designing and delivering NHS services so that everyone can access them regardless of their background or life experience.</p>  
      <p><a href="/what-is-inclusive-design">Find out more about what we mean by inclusive design</a>.</p>
      </div>
      
      <div class="nhsuk-grid-column-full  ">
        <hr>
        </div>
  

    <div class="nhsuk-grid-column-full nhsuk-u-reading-width">
    <h2 id="why-its-important">Why inclusive design is important</h2>
    <p>We build inclusive services that everyone can use.</p>
    <p> <a href="/why-its-important">Read more about what we mean by inclusion and why it's important</a>.</p>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full  ">
      <hr>
      <h2 class="nhsuk-u-margin-bottom-5">
        Things teams need to do
      </h2>
    </div>
  </div>

  
  <ul class="nhsuk-grid-row nhsuk-card-group">
    <!---<li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-s">
            <a class="nhsuk-card__link" href="things-to-do/how-teams-can-design-for-inclusivity">How teams can design for inclusivity</a>
          </h2>
        </div>
      </div>
    </li>--->
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-s">
            <a class="nhsuk-card__link" href="things-to-do/consider-the-experiences-of-groups-who-are-often-excluded">Consider the experiences of groups who are often excluded</a>
          </h2>
        </div>
      </div>
    </li>
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-s">
            <a class="nhsuk-card__link" href="things-to-do/conduct-inclusive-research">Conduct inclusive research</a>
          </h2>
        </div>
      </div>
    </li>
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-s">
            <a class="nhsuk-card__link" href="things-to-do/use-words-and-images-that-are-inclusive">Use words and images that are inclusive</a>
          </h2>
        </div>
      </div>
    </li>
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-s">
            <a class="nhsuk-card__link" href="things-to-do/change-the-way-you-design-and-build-things">Change the way you design and build things</a>
          </h2>
        </div>
      </div>
    </li>
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable nhsuk-u-margin-bottom-0">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-s">
            <a class="nhsuk-card__link" href="things-to-do/manage-relationships">Manage relationships</a>
          </h2>
        </div>
      </div>
    </li>
  </ul>

  <hr>

  <div class="nhsuk-grid-row nhsuk-u-margin-top-5">
    <div class="nhsuk-grid-column-full">
      <h2 class="nhsuk-u-margin-bottom-5">
        Case studies
      </h2>
        <h4>Most recent</h4>
    </div>
  </div>

<div class="nhsuk-grid-row nhsuk-card-group">

  <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
  <div class="nhsuk-card nhsuk-card--clickable nhsuk-u-margin-bottom-0">
    <div class="nhsuk-card__content">
      <h3 class="nhsuk-card__heading"><a href="https://digital.nhs.uk/blog/design-matters/2021/making-content-about-skin-symptoms-more-inclusive">Making content about skin symptoms more inclusive</a></h3>
      <p class="nhsuk-card__metadata nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-bottom-0">NHS Digital design matters blog, 30 July 2021</p>
      <p class="nhsuk-card__metadata nhsuk-body-s nhsuk-u-font-weight-bold">Rhiannon Smith, content Designer for the NHS website</p>
      <p class="nhsuk-card__description">How the NHS website team are making content about skin symptoms more inclusive.</p>
    </div>
  </div>
  </div>

  <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable nhsuk-u-margin-bottom-0">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading"><a href="case-studies/racial-equality-user-research-in-the-pathways-team">Racial equality user research in the Pathways team</a></h3>
          <p class="nhsuk-card__metadata nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-bottom-0">29 July 2021</p>
          <p class="nhsuk-card__metadata nhsuk-body-s nhsuk-u-font-weight-bold">Brigit O'Sullivan, 111 online and 111 pathways</p>
          <p class="nhsuk-card__description">A reflection on the value of user research in making Pathways questions more inclusive for people of colour.</p>
        </div>
      </div>
      </div>

      </div>

      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">

          <h2 class="nhsuk-card__heading nhsuk-u-font-size-24">
      <a class="nhsuk-card__link" href="case-studies/index">See all case studies and blog posts</a>
      </h2>
        <p>Read case studies and blog posts written by NHS digital employees.</p>
        </div>
        </div>

  <hr>

  <div class="nhsuk-grid-row nhsuk-u-margin-top-5">
    <div class="nhsuk-grid-column-full">
      <h2 class="nhsuk-u-margin-bottom-4">
        Get in touch
      </h2>

    </div>
   
    <div class="nhsuk-grid-column-one-half">

      <p>Email us at <a href="#">ucd@nhs.net</a></p>
    </div>
  </div>
{% endblock %}
