
{% extends 'layout.html' %}

{% block pageTitle %}
  Home - Make NHS services inclusive
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-reading-width">
      <h1 class="nhsuk-u-margin-bottom-4 ">
        Make NHS services inclusive
      </h1>
      <p class="nhsuk-u-margin-bottom-0">These drafts are a collaborative effort by teams across NHS Digital. We're starting with a private alpha so we can iterate things quickly and often.</p>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full  ">
      <hr>
      <h2 class="nhsuk-u-margin-bottom-5">
        Things teams need to do
      </h2>
    </div>
  </div>

  <ul class="nhsuk-grid-row nhsuk-card-group">
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-s">
            <a class="nhsuk-card__link" href="https://docs.google.com/document/d/1z2Q4p8sr7ETudBB56UmoU-TR1Y-Wot1bGXmh0l7stvg/edit?usp=sharing">Consider the experiences of groups who are often excluded</a>
          </h2>
        </div>
      </div>
    </li>
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-s">
            <a class="nhsuk-card__link" href="https://docs.google.com/document/d/1UVpUUrE03USN_tewt4gkhS-7gjz5yYTUz3nVq03LqdU/edit?usp=sharing">Conduct inclusive research</a>
          </h2>
        </div>
      </div>
    </li>
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-s">
            <a class="nhsuk-card__link" href="https://docs.google.com/document/d/1f3dcEd3v5Pxmdc9LGiYS83EgbDb3Mv8PhrSoEPBSDZo/edit?usp=sharing">Use words and images that are inclusive</a>
          </h2>
        </div>
      </div>
    </li>
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-s">
            <a class="nhsuk-card__link" href="https://docs.google.com/document/d/1IVfFoJS1GU76USyVzZcFz1ITRLJwQATfzeBCDnqmfyM/edit?usp=sharing">Change the way you design and build things</a>
          </h2>
        </div>
      </div>
    </li>
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable nhsuk-u-margin-bottom-0">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-s">
            <a class="nhsuk-card__link" href="https://docs.google.com/document/d/1B2kIG_f3xF4heS5OJ1k__LsS1kcRad-tzC3ro4Uds14/edit?usp=sharing">Manage relationships</a>
          </h2>
        </div>
      </div>
    </li>
  </ul>

  <hr>

  <div class="nhsuk-grid-row nhsuk-u-margin-top-5">
    <div class="nhsuk-grid-column-full">
      <h2 class="nhsuk-u-margin-bottom-5">
        Case studies
      </h2>
    </div>
  </div>

  <div class="nhsuk-grid-row nhsuk-card-group">
    <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable nhsuk-u-margin-bottom-0">
        <img class="nhsuk-card__img" src="/images/sex-gender.jpg" alt="">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading"><a href="#">How we removed questions about sex and gender</a></h3>
          <p class="nhsuk-card__metadata nhsuk-body-s nhsuk-u-font-weight-bold">NHS vaccine booking</p>
          <p class="nhsuk-card__description">The first paragraph of the case study would go here for people to get a sense of it.</p>
        </div>
      </div>
    </div>
    <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable nhsuk-u-margin-bottom-0">
        <img class="nhsuk-card__img" src="/images/skin-conditions.jpg" alt="">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading"><a href="#">Making content about skin symptoms more inclusive"</a></h3>
          </h3>
          <p class="nhsuk-card__metadata nhsuk-body-s nhsuk-u-font-weight-bold">NHS.UK mission team</p>
          <p class="nhsuk-card__description">The first paragraph of the case study would go here for people to get a sense of it.</p>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="nhsuk-grid-row nhsuk-u-margin-top-5">
    <div class="nhsuk-grid-column-full">
      <h2 class="nhsuk-u-margin-bottom-4">
        Contribute
      </h2>

    </div>
    <div class="nhsuk-grid-column-one-half">
      <h3 class="nhsuk-heading-m nhsuk-u-margin-top-2">Work in progress</h3>
      <p>Get involved in the guidance we're drafting.</p>
      <p class="nhsuk-u-margin-bottom-0">
        <a href="#">View the Trello board</a>
      </p>
    </div>
    <div class="nhsuk-grid-column-one-half">

      <h3 class="nhsuk-heading-m nhsuk-u-margin-top-2">Get in touch</h3>
      <p>Join the private slack channel for contributors.</p>
      <p class="nhsuk-u-margin-bottom-0">
        <a href="https://join.slack.com/share/zt-s59jp6j5-ums3~SrlIySREOf0anMoNw">#make-NHS-services-inclusive</a>
      </p>
    </div>
  </div>
{% endblock %}
