
{% extends 'layout.html' %}

{% block pageTitle %}
  Home - Make NHS services inclusive
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-reading-width">
      <h1 class="nhsuk-u-margin-bottom-4 ">
        Make NHS services inclusive
      </h1>
      <p class="nhsuk-u-margin-bottom-4">These drafts are a collaborative effort by teams across NHS Digital. We're starting with a private alpha so we can iterate things quickly and often.</p>
    <h2 id="why-its-important">Why it's important</h2>
    <p>We build inclusive services that everyone can use. Read more about what we mean by inclusion and <a href="/why-its-important">why it's important</a>.</p>
    </div>
  </div>
    
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full  ">
      <hr>
      <h2 class="nhsuk-u-margin-bottom-5">
        Things teams need to do
      </h2>
    </div>
  </div>

  <ul class="nhsuk-grid-row nhsuk-card-group">
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-s">
            <a class="nhsuk-card__link" href="things-to-do/consider-the-experiences-of-groups-who-are-often-excluded">Consider the experiences of groups who are often excluded</a>
          </h2>
        </div>
      </div>
    </li>
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-s">
            <a class="nhsuk-card__link" href="things-to-do/conduct-inclusive-research">Conduct inclusive research</a>
          </h2>
        </div>
      </div>
    </li>
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-s">
            <a class="nhsuk-card__link" href="things-to-do/use-words-and-images-that-are-inclusive">Use words and images that are inclusive</a>
          </h2>
        </div>
      </div>
    </li>
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-s">
            <a class="nhsuk-card__link" href="things-to-do/change-the-way-you-design-and-build-things">Change the way you design and build things</a>
          </h2>
        </div>
      </div>
    </li>
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable nhsuk-u-margin-bottom-0">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-s">
            <a class="nhsuk-card__link" href="things-to-do/manage-relationships">Manage relationships</a>
          </h2>
        </div>
      </div>
    </li>
  </ul>

  <hr>

  <div class="nhsuk-grid-row nhsuk-u-margin-top-5">
    <div class="nhsuk-grid-column-full">
      <h2 class="nhsuk-u-margin-bottom-5">
        Case studies
      </h2>
    </div>
  </div>

  <div class="nhsuk-grid-row nhsuk-card-group">
    <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable nhsuk-u-margin-bottom-0">
        <img class="nhsuk-card__img" src="/images/sex-gender.jpg" alt="">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading"><a href="https://emmaparnell.medium.com/lets-talk-about-sex-6bb64c7e8f0c">Let's talk about sex*</a></h3>
          <p class="nhsuk-card__metadata nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-bottom-0">Medium, 19 March 2021</p>
          <p class="nhsuk-card__metadata nhsuk-body-s nhsuk-u-font-weight-bold">Emma Parnell, NHS vaccine booking service</p>
          <p class="nhsuk-card__description">A personal account of how the team worked to remove the question about gender.</p>
        </div>
      </div>
    </div>
  <!--  <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable nhsuk-u-margin-bottom-0">
        <img class="nhsuk-card__img" src="/images/skin-conditions.jpg" alt="">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading"><a href="#">Making content about skin symptoms more inclusive</a></h3>
          <p class="nhsuk-card__metadata nhsuk-body-s nhsuk-u-secondary-text-color nhsuk-u-margin-bottom-0">NHS Digital tranformation blog, TBC</p>
          <p class="nhsuk-card__metadata nhsuk-body-s nhsuk-u-font-weight-bold">NHS.UK mission team 1</p>
          <p class="nhsuk-card__description">[A short summary of the case study to give people an idea what it's about.]</p>
        </div>
      </div>
    </div> --->
  </div>

  <hr>

  <div class="nhsuk-grid-row nhsuk-u-margin-top-5">
    <div class="nhsuk-grid-column-full">
      <h2 class="nhsuk-u-margin-bottom-4">
        Contribute
      </h2>

    </div>
    <div class="nhsuk-grid-column-one-half">
      <h3 class="nhsuk-heading-m nhsuk-u-margin-top-2">Work in progress</h3>
      <p>Get involved in the guidance we're drafting.</p>
      <p class="nhsuk-u-margin-bottom-0">
        <a href="https://trello.com/invite/b/Cy9Xi9Qu/35a414f20567dca7ffc9b0bfad06ed0b/inclusion-work-to-be-done">View the Trello board</a>
      </p>
    </div>
    <div class="nhsuk-grid-column-one-half">

      <h3 class="nhsuk-heading-m nhsuk-u-margin-top-2">Get in touch</h3>
      <p>Join the private NHS.UK Slack channel for contributors.</p>
      <p class="nhsuk-u-margin-bottom-0">
        <a href="https://join.slack.com/share/zt-szfpj9v5-1hPZWk9dlO3RxMMbiOHnlg">#make-NHS-services-inclusive</a>
      </p>
    </div>
  </div>
{% endblock %}
