
{% extends 'layout.html' %}

{% block pageTitle %}
  Home - Inclusive and equitable NHS services
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/index",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Things for teams to consider
      </h1>

      <p class="nhsuk-lede-text">
        Get started making your service more inclusive and equitable.
      </p>

      <h2 class="nhsuk-heading-xs">
        <a href="/things-to-consider/figure-out-which-groups">Figure out which groups are likely to be excluded by your service.</a>
      </h2>
      <h2 class="nhsuk-heading-xs">
        <a href="/things-to-consider/figure-out-which-groups">Involve people from a wide range of underrepresented backgrounds.</a>
      </h2>
      <h2 class="nhsuk-heading-xs">
        <a href="/things-to-consider/figure-out-which-groups">Make adjustments for people who need them.</a>
      </h2>
      <h2 class="nhsuk-heading-xs">
        <a href="/things-to-consider/figure-out-which-groups">Push back and have difficult conversations with stakeholders.</a>
      </h2>
      <h2 class="nhsuk-heading-xs">
        <a href="/things-to-consider/figure-out-which-groups">Make time.</a>
      </h2>
      <h2 class="nhsuk-heading-xs">
        <a href="/things-to-consider/figure-out-which-groups">Question your current ways of working and explore new techniques.</a>
      </h2>
      <h2 class="nhsuk-heading-xs">
        <a href="/things-to-consider/figure-out-which-groups">Improve continuously, not once and forget.</a>
      </h2>

      <div class="nhsuk-card nhsuk-u-margin-top-8 nhsuk-u-margin-bottom-0">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-heading-m">
            This is work in progress
          </h2>
          <p>
            Everyone making NHS services can make changes or share their thoughts.
          </p>
          <a href="https://github.com/ericlamarca/inclusive-equitable-services/blob/main/app/views/things-to-consider.html" class="nhsuk-button nhsuk-u-margin-bottom-4">
            Edit this page on GitHub
          </a>
          <p>
            Or see <a href="/contribute">other ways to contribute</a>.
          </p>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
