
{% extends 'layout.html' %}

{% block pageTitle %}
  Why it's important - Make NHS services inclusive
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
        href: "/index",
        text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-u-margin-bottom-4">
        Why inclusive design is important
      </h1>

     <!-- <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">
        Contributors
      </h2>
      <ul class="app-contributors">
        <li><a id="sara-wilcox" href="#"><img src="/images/sara-wilcox.jpg" alt="sara wilcox"></a></li>
        <li><a id="chloe-philippou" href="#"><img src="/images/chloe-philippou.jpg" alt="chloe philippou"></a></li>
        <li><a id="rhiannon-smith" href="#"><img src="/images/rhiannon-smith.png" alt="rhiannon smith"></a></li>
        <li><a id="richard-kelly" href="#"><img src="/images/richard-kelly.png" alt="richard kelly"></a></li>
      </ul>--->

      <hr>
      <h2>NHS services are for everyone</h2>
      <p><a href="https://service-manual.nhs.uk/service-standard/5-make-sure-everyone-can-use-the-service">Point 5 in the NHS service standard</a> is about making sure that everyone can use our services</a>.</p>
      <p>That means building inclusive services so that everyone gets the care they need.</p>
      <p>The aim of inclusive design is to make sure everyone can use healthcare services to reach their full potential for health and wellbeing. People should be able to do this regardless of:</p>
      <ul>
        <li>the conditions in which they are born, grow, live, work, play and age</li>
        <li>political, legal and economic factors</li>
        <li>collectively shared beliefs and expectations</li>
        <li>instituitional processes</li>
        <li>any temporary or permanent issue which affects a person's capability or capacity</li>
        <li>systemic disadvantage</li>
      </ul>

      <hr>
      <h2>Inclusivity is a key founding principle of the NHS</h2>

      <p>Inclusive design supports the NHS Constitution, which says:</p>
      <ul>
        <li>the NHS belongs to the people</li>
        <li>we provide a comprehensive service available to all based on clinical need</li>
        <li>people come into contact with us at times of basic human need when care and compassion are what matter most</li>
        <li>we maximise our response for the benefit of the whole community and make sure nobody is excluded, discriminated against or left behind from birth to older age</li>
      </ul>
      
      <hr>
      <h2>Inclusive services benefit everyone</h2>
      <p>Inclusive design can lead to the following outcomes.</p>

      <ul>
        <li>More people can do what they need to when accessing NHS services because the services meet their needs.
          <li>NHS services are accessible so they can be used by everyone, including people who use assistive technology. Asscessibility is one of the many important elements of inclusive design.</li>
          <li>We do not use public money to fix services that do not meet people's needs.</li>
          <li>More people have the choice of when and where to access healthcare services, for example through digital channels. This can free up frontline staff to spend more time with those most in need of human care.</li>
          <li>Teams feel empowered to design better services as they have the time, space and organisational backing to learn from the people they are designing with.</li>
          <li>Diverse teams  feel supported and able to do their best work.</li>
      </ul>



       <!---<div class="app-example app-example--content">
        <strong class="nhsuk-tag app-example__heading">Examples</strong>
        <p class="nhsuk-u-margin-bottom-0">Some users face problems when they use NHS services because of:</p>
        <ul>
          <li>their socio-economic status or living in poverty</li>
          <li>“protected characteristics” like ethnicity, gender reassignment, sexual orientation or disability (see the <a href="https://www.equalityhumanrights.com/en/equality-act/protected-characteristics">protected characteristics on the Equalities and Human Rights Commission website</a>)</li>
          <li>being part of a vulnerable group, such as Travellers, rough sleepers or sex workers</li>
          <li>where they live</li>
        </ul>
      </div>
      <p>Inclusive, accessible services are better for everyone.</p>

      <h2>What we mean by inclusion and accessibility</h2>
      <p>This is what the guidance on the NHS service standard, point 5, says.</p>
      <p>Inclusion is about responding to people's differences so that everyone:</p>
      <ul>
        <li>feels NHS services are for them</li>
        <li>can access the services they need, regardless of their background, identity or circumstances</li>
      </ul>
      <p>Accessibility is about making digital services work for everyone, including people who face barriers related to:</p>
      <ul>
        <li>hearing, like people who are Deaf or have hearing loss</li>
        <li>mobility, like people who find it difficult to use a mouse</li>
        <li>thinking or understanding in a different way, like autistic people or people with dyslexia or learning difficulties</li>
        <li>vision, like people who are blind, partially sighted or colour blind</li>
      </ul>--->
  </div>
{% endblock %}
